boto==2.38.0
facebook-sdk==0.4.0
Flask==0.10.1
Flask-API==0.6.2
Flask-Bootstrap==3.3.0.1
Flask-Cache==0.13.1
Flask-Cors==1.10.3
Flask-Login==0.2.11
Flask-Menu==0.2.0
Flask-RESTful==0.3.1
Flask-Stormpath==0.3.1
Flask-WTF==0.11
gunicorn==19.2.1
DateTime==4.0.1